{%extends 'blog/layout.html.twig'%}

{% block body %}
{% for message in app.session.flashbag.get('info') %}
<p class="alert alert-danger">{{ message }}</p>
{% endfor %}

<h2>Ajouter un article :</h2>
	{% include 'blog/formulaire.html.twig' %}
{% endblock %}
{% block javascripts %}
<script src="//cdn.ckeditor.com/4.5.9/basic/ckeditor.js"></script>
{% endblock %}