<h1>Derniers articles publiés sur le blog</h1>
{% for article in articles %}
	<li>{{article.titre}}</li> 
		<a class="btn bnt-warning" href="{{ path('blog_detail',{id:article.id})}}">Voir &rarr;</a>
	{% endfor %}