{% extends 'blog/layout.html.twig' %}
	
{% block body %}
	<h2>Modifier l'article {{ id }}</h2>
{% endblock %}
{% block javascripts %}
<script src="//cdn.ckeditor.com/4.5.9/basic/ckeditor.js"></script>
{% endblock %}